.login__form {
  width: 400px;
  margin: auto;
  padding: 30px;
  background-color: #f2f2f5;
  border-radius: 10px;
}

.user__name-label {
  display: none;
}

.user__name-label-visible {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login__form .label__item {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user__label-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.username,
.password {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.password__wrap {
  display: flex;
}

.show__svg {
  width: 24px;
  height: 15px;
  display: inline-block;
  -webkit-mask: url(../../../assets/img/eye.svg) no-repeat 50% 50%;
  mask: url(../../../assets/img/eye.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #99a2ad;
  margin-left: -35px;
  margin-top: 13px;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.hide__svg {
  width: 24px;
  height: 15px;
  display: inline-block;
  -webkit-mask: url(../../../assets/img/eye-hide.svg) no-repeat 50% 50%;
  mask: url(../../../assets/img/eye-hide.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #99a2ad;
  margin-left: -35px;
  margin-top: 16px;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.reset__link {
  color: #2d81e0;
  display: none;
  cursor: pointer;
  width: fit-content;
  border-bottom: 2px solid transparent;
}

.reset__text {
  color: #2d81e0;
  display: none;
  width: fit-content;
  text-align: center;
  align-self: center;
}

.reset__link:hover {
  border-bottom: 2px solid #2d81e0;
}

.invalid {
  border: 1px solid;
  background-color: #faebeb;
  border-color: #900;
}

.error__message {
  color: #e64646;
  display: none;
}

.active {
  display: block;
}

.user__mail-wrap {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

.sign__in {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.sign__in:hover {
  background-color: #062a53;
}

.sign__up {
  width: 100%;
  padding: 10px;
  background-color: #4bb34b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.sign__up:hover {
  background-color: #186118;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;
}

.submit__visible {
  display: block;
}

.auth__q {
  color: black;
  text-align: center;
}

.btns__wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.continue__btn,
.change__user-btn {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.dark-theme .login__form {
  background-color: #222222;
}

.dark-theme .user__label-title {
  color: #e1e3e6;
}

.dark-theme .username {
  background-color: #424242;
  color: #e1e3e6;
}

.dark-theme .password {
  background-color: #424242;
  color: #e1e3e6;
}

.dark-theme .auth__q {
  color: #e1e3e6;
}

@media (max-width: 430px) {
  .login__form {
    width: 300px;
  }
}
