.button {
  width: 80px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #818c99;
  font-size: 0.75em;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

.dark-theme .button {
  background-color: #424242;
  color: #e1e3e6;
}
.button:hover {
  background-color: #346397;
  color: #fff;
  transition: all 0.5s;
}

.button:active {
  box-shadow: none;
  transition: all 0.1s;
}

.button.button_active {
  box-shadow: none;
  color: #fff;
  border: 1px solid #e1e3e6;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 4px rgba(0, 0, 0, 0.06);
  background: #5181b8;
}

.button_buttonFind {
  background: #5181b8;
  color: #fff;
}

.button_buttonFind:hover {
  background: #346397;
}

.button_createGroupButton {
  background: #5181b8;
  color: #fff;
}

.button_createGroupButton:hover {
  background: #346397;
}

.dark-theme .button.button_active {
  box-shadow: none;
  border: none;
}
