.messages__page {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.messages__field {
  width: 100%;
  height: 55vh;
  padding: 5px;
  background-color: aliceblue;
  overflow-y: auto;
}

.containerMessage {
  width: 60%;
  margin: 10px 0;
  border: 1px solid blue;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: #6161c8 0 0 8px;
}

.my_message {
  border-color: greenyellow;
  margin-left: auto;
  box-shadow: #93f303 0 0 8px;
}

.messageTitle {
  display: flex;
  align-items: flex-end;
}

.containerMessage img {
  width: 50px;
}

.containerMessage span{
  color: #8282e6;
  font-size: 0.8em;
  padding: 10px;
}

.containerMessage p {
  color: blue;
  padding: 6px;
}

input {
  color: blue;
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px 5px;
  outline: none;
}

.input__message {
  margin-top: 5px;
  width: 100%;
  
}

.input__limit {
  width: 60px;
}

.input-limit-title {
  color: #8282e6;
}

.message__containerButtons {
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button.button_deleteButton {
  width: 70px;
  height: 20px;
  font-size: 0.8em;
}

/* /////////////////////////// */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}