.messages__page {
  display: flex;
  margin: 10px auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.buttons-header {
  align-self: flex-start;
  display: flex;
  padding: 0 0 10px 10px;
  gap: 10px;
}

.buttons-header .button_active {
  box-shadow: none;
  border: none;
  box-shadow: inset #6161c8 0 0 6px;
}

.buttons-header .button_active:hover {
  background-color: aliceblue;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages__field {
  width: 100%;
  height: 60vh;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.messages__container {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.messages__field_load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerMessage {
  width: 60%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: #6161c8 0 0 8px;
}

.containerMessage .container-text {
  display: flex;
  width: 100%;
}

.my_message {
  border-color: greenyellow;
  margin-left: auto;
  box-shadow: #93f303 0 0 8px;
}

.messageTitle {
  display: flex;
  padding-bottom: 10px;
  align-items: flex-end;
}

.containerMessage img {
  width: 50px;
  cursor: pointer;
}

.modal-user-window {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-user-window p {
  margin: 10px 5px;
  padding: 5px;
  border-radius: 2px;
  color: blue;
  transition: all 0.4s;
  cursor: pointer;
}

.modal-user-window p:hover {
  color: #1380de;
  transition: all 0.4s;
}

.containerMessage span {
  color: #8282e6;
  font-size: 0.8em;
  padding: 10px;
}

.containerMessage p {
  color: blue;
  flex-grow: 1;
  border-bottom: 1px solid #a0a0c0;
  border-radius: 5px;
  padding: 6px;
}

.message__container-button {
  padding: 6px;
}

.containerMessage .message_time {
  color: #a0a0c0;
  border: none;
  padding: 6px 10px 3px 0;
  font-size: 0.7em;
  margin-left: auto;
}

input,
select,
textarea {
  color: blue;
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 5px;
  box-shadow: #6161c8 0 0 5px;
  outline: none;
}

option {
  color: blue;
}

.input__message {
  resize: none;
  overflow-y: hidden;
  min-height: 41px;
  margin-top: 10px;
  padding: 10px 5px;
  width: 100%;
}

.input__limit {
  width: 60px;
}

.input-limit-title {
  color: #8282e6;
}

.message__containerButtons {
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button.button_deleteButton {
  width: 70px;
  height: 20px;
  font-size: 0.8em;
}

.messages__rooms {
  display: flex;
  width: 100%;
  height: 100%;
}

.messages__members {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.messages__member {
  color: blue;
  display: flex;
  gap: 5px;
  align-items: end;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #e2effa;
  transition: all 0.6s;
  cursor: pointer;
}

.messages__member img {
  width: 50px;
  border-radius: 20px;
}

.messages__member span {
  color: blue;
  padding-left: 10px;
}

.messages__member__button {
  width: 25px;
  height: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-self: start;
  justify-content: space-between;
}

.new-message .messages__member__button::before {
  content: 'new';
  position: absolute;
  display: inline-block;
  width: 25px;
  padding: 1px 3px;
  border-radius: 4px;
  bottom: -15px;
  font-size: 0.5em;
  text-align: center;
  background-color: green;
}

.messages__member__button span {
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #a7a7a7;
  transition: all 0.3s;
}

.messages__member__button:hover span {
  background-color: gray;
  transform: scale(1.1);
  transition: all 0.3s;
}

.messages__member:hover {
  background-color: #bbdcf6;
  transition: all 0.6s;
}

.messages__roomsChat {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  min-height: 100%;
  border-left: 1px solid #d3d3f0;
  color: blue;
}

.messages__roomsChat h2 {
  color: blue;
  margin: auto 0;
  align-self: center;
  text-align: center;
  font-size: 1.3em;
}

.rooms__message {
}

/* /////////////////////////// */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
