.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 4%), 0 0 4px rgb(0 0 0 / 6%);
}

.dark-theme .header {
  background: #222222;
}

.header__wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo__img {
  width: 25px;
  height: 25px;
  position: relative;
  background: url(../../../assets/img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.5s;
}

.logo__title {
  color: #000000;
}

.dark-theme .logo__title {
  color: #e1e3e6;
}

.containerButtons__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button.button_langButton {
  width: 50px;
  height: 25px;
  font-size: 0.8em;
  box-shadow: #efeff9 0 0 5px;
  border-radius: 8px;
  background: #5181b8;
  color: #ffffff;
  font-weight: 400;
}

.dark-theme .button.button_langButton {
  box-shadow: none;
}

.button.button_langButton:hover {
  background: #346397;
}

.theme-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: inherit;
  background-image: url('../../../assets/img/light-theme.svg');
  background-size: contain;
  transition: transform 2s;
  cursor: pointer;
}

.header__user-ava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.theme-button:hover {
  transition: transform 2s;
  transform: rotate(360deg);
}

.dark-theme .theme-button {
  background-image: url('../../../assets/img/dark-theme.svg');
}

.hamburger {
  display: none;
  width: 25px;
  height: 16px;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-top: 4px;
  align-self: start;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s;
}

.hamburger span {
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #a7a7a7;
  transition: all 0.3s;
}

.hamburger:hover span {
  background-color: gray;
  transform: scale(1.1);
  transition: all 0.3s;
}

.hamburger.open {
  transform: rotate(90deg);
  transition: all 0.5s;
}

@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }
}

@media (max-width: 340px) {
  .logo__title {
    display: none;
  }
}
