.side__bar {
  width: 149px;
  padding: 15px 0 10px;
  /* margin-top: 20px; */
}

.side__bar-ol {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.side__bar-item {
  margin-left: 10px;
  color: black;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.side__bar-item:hover {
  background: #f3f1f1;
  border-radius: 5px;
  transition: all 0.5s;
}
