.my__page {
  display: flex;
  justify-content: center;
}

.profile__wrapper {
  width: 900px;
  min-height: 100vh;
  border: 1px solid black;
  margin: 1rem;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.profile__info {
  display: flex;
  align-items: end;
  gap: 60px;
  margin-top: 80px;
}

.profile__name {
  font-size: 24px;
  font-weight: 700;
}
.profile__name,
.profile__status {
  color: black;
  font-weight: 500;
}

.profile__ava {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__ava-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../../../assets/img/default-ava.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__preson {
  margin-bottom: 15px;
}

.profile__input {
  display: none;
}

.profile__label {
  background-color: blue;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}

.profile__input-cover {
  display: none;
}

.profile__cover {
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  left: 0;
  z-index: -1;
}
.profile__cover-img {
  background-image: url(../../../assets/img/default-cover.jpg);
  width: 100%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.profile__label-cover {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../../../assets/img/upload-ava.svg);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.profile__name-wrapper,
.profile__status-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile__name-input,
.profile__status-input {
  display: none;
  color: black;
}

.profile__name-btn,
.profile__status-btn {
  background-image: url(../../../assets/img/edit-btn.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
