.my__page {
  display: flex;
  justify-content: center;
  max-width: 900px;
}

.profile__wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 1rem;
  position: relative;
  border-radius: 20px;
}

.profile__info {
  display: flex;
  align-items: end;
  gap: 60px;
  margin-top: 80px;
  padding: 20px;
}

.profile__name {
  font-size: 24px;
  font-weight: 700;
}
.profile__name,
.profile__status {
  color: black;
  font-weight: 500;
}

.profile__ava {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__ava-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../../../assets/img/default-ava.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__preson {
  margin-bottom: 15px;
}

.profile__input {
  display: none;
}

.profile__label {
  background-color: blue;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}

.profile__input-cover {
  display: none;
}

.profile__cover {
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  left: 0;
  z-index: -1;
}
.profile__cover-img {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.profile__label-cover {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../../../assets/img/upload-ava.svg);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.profile__name-wrapper,
.profile__status-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile__name-input,
.profile__status-input {
  display: none;
  color: black;
}

.profile__name-btn,
.profile__status-btn {
  background-image: url(../../../assets/img/edit-btn.svg);
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* Profile Main */

.profile__main {
  display: flex;
  gap: 20px;
}
.profile__news {
  flex: 1 0 70%;
}

.profile__friends {
  flex: 0 0 25%;
  height: 400px;
  background: aqua;
  border-radius: 15px;
}

.create__news {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background: #fff;
  border-radius: 15px;
}

.input__create-news {
  width: 100%;
  color: black;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.create__news-btn {
  padding: 5px;
  border: none;
  background: blue;
  border-radius: 5px;
  cursor: pointer;
}

.create__news-btn:disabled {
  background: gray;
}

.post__container_user {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 10px;
}
.post__header_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__info_user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post__author,
.post__date {
  color: black;
}

.post__text {
  color: black;
}

.input__news-img {
  display: none;
}

.label__news-img {
  color: black;
  cursor: pointer;
  background-image: url(../../../assets/img/add-img-user-post.svg);
  width: 40px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.post__container_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__img_user {
  max-width: 100%;
  max-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.delete__post_user {
  cursor: pointer;
  background-image: url(../../../assets/img/delete-user-post.svg);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}
