footer {
  margin-top: auto;
  margin-bottom: 0px;
  width: 100%;
  background: #0077ff;
  padding: 5px 10px;
}

.dark-theme footer {
  background: #222222;
}
.footer__wrap {
  max-width: 1200px;
  width: 100%;
  max-height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github__links {
  display: flex;
  gap: 10px;
}
.github__img {
  width: 20px;
  height: 20px;
  background: url(../../../assets/img/github.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.rs__img {
  width: 100px;
  height: 30px;
  background: url(../../../assets/img/rs_school_js_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.footer__text {
  font-size: 14px;
  align-self: center;
  font-weight: 900;
}

.footer__logo__link {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github__links {
  display: flex;
  align-items: center;
}

.github__text {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  font-size: 12px;
}

.github__text:hover {
  border-bottom: 0.5px solid white;
}

.footer__year {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 600px) {
  footer {
    padding-bottom: 10px;
  }
  .footer__wrap {
    max-height: none;
  }
  .socials {
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 430px) {
  .github__links {
    flex-direction: column;
    align-items: start;
  }
  .rs__img {
    width: 60px;
    height: 22px;
    background-size: contain;
  }
  .footer__year {
    gap: 18px;
  }
}
